{% extends "classifieds_base.html" %}

{% block subpage_title %}
    |
    {% if new %}
        Submit
    {% else %}
        Edit
    {% endif %}
    {% if external %}
        someone else's
    {% else %}
        your own
    {% endif %}
    {{ app_settings['POST_TYPE'] }} post
{% endblock %}

{% block internal %}
<div>
    <p class="page-title">Submit a Listing</p>
    <p class="page-info">
        {% if new %}
            Submit
        {% else %}
            Edit
        {% endif %}
        {% if external %}
            someone else's
        {% else %}
            your own
        {% endif %}
        {{ app_settings['POST_TYPE'] }} post <br/>
        Please be as descriptive as possible to help viewers find and understand the post.</br>
        All posts will automatically expire in {{ app_settings['EXPIRY'] }} days.</p>

        {% if form.errors %}
            <span class="error">There were errors with the form submission.</span>
        {% endif %}

    <p class="note">
        <span class="star">* </span><span class="warning"> All fields are required</span>
    </p>

    <form id="post" method="POST" action="/submit-post">
        {{ form.render_to_html() | safe }}
    </form>
</div>
{% endblock %}

{% block scripts %}
    <datalist id="partial_email_matches"></datalist>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        //setup before functions
        document.getElementById('submitters_username').setAttribute('list', 'partial_email_matches');
        var typingTimer;                // timer identifier
        var doneTypingInterval = 500;   // delay in ms
        var input = $('#submitters_username');

        //on keyup, start the countdown
        input.on('keyup', function (key) {
            // do nothing if it's an arrow key
            var code = (key.keyCode || key.which);
            if(code < 37 || code > 40){
                clearTimeout(typingTimer);
                typingTimer = setTimeout(doneTyping, doneTypingInterval);
            }
        });

        //on keydown, clear the countdown
        input.on('keydown', function (key) {
            // do nothing if it's an arrow key
            var code = (key.keyCode || key.which);
            if(code < 37 || code > 40){
                clearTimeout(typingTimer);
            }
        });

        //user is "finished typing," do something
        function doneTyping () {
          // Do stuff when user has been idle for 0.5 sec
            $.ajax({
                'type': 'POST',
                'url': '{{ url_for('View:search_external_emails') }}',
                'data': {
                    'partial': input.val()
                },
                'success': suggestEmails
            });
        }

        function suggestEmails(data){
            // First remove the current suggestions
            var datalist_alias = document.getElementById('partial_email_matches');
            while(datalist_alias.hasChildNodes()){
                datalist_alias.removeChild(datalist_alias.lastChild);
            }

            // Then add the new suggestions
            var list_of_suggestions = JSON.parse(data);
            var temp_option_object;
            for(var i=0; i < list_of_suggestions.length; i++){
                temp_option_object = document.createElement("OPTION");
                temp_option_object.setAttribute('value', list_of_suggestions[i]);
                temp_option_object.setAttribute('text', list_of_suggestions[i]);
                datalist_alias.appendChild(temp_option_object);
            }
        }
    </script>
{% endblock %}