{% extends "classifieds_base.html" %}

{% block subpage_title %}
    | View your posts
{% endblock %}

{% block internal %}
<div>
    <p class="page-title">Classified Postings</p>
    <p class="page-info my-postings">All of your Classified Postings.</br>
        View all of your posting based on whether or not they are active, complete, or expired.</br>
        You can also mark postings as completed if they are not longer needed.</p>

    <div class="second-bar"><ul>
        <li>
            {% if '/all' in request.path %}
                <a href="{{ url_for('View:view_posted', selector = 'all') }}" class="button active posts">All posts</a>
            {% else %}
                <a href="{{ url_for('View:view_posted', selector = 'all') }}" class="button posts">All posts</a>
            {% endif %}
        </li>
        <li>
            {% if '/active' in request.path %}
                <a href="{{ url_for('View:view_posted', selector = 'active') }}" class="button active posts">All active posts</a>
            {% else %}
                <a href="{{ url_for('View:view_posted', selector = 'active') }}" class="button posts">All active posts</a>
            {% endif %}
        <li>
        <li>
            {% if '/completed' in request.path %}
                <a href="{{ url_for('View:view_posted', selector = 'completed') }}" class="button active posts">All completed posts</a>
            {% else %}
                <a href="{{ url_for('View:view_posted', selector = 'completed') }}" class="button posts">All completed posts</a>
            {% endif %}
        </li>
        <li>
            {% if '/expired' in request.path %}
                <a href="{{ url_for('View:view_posted', selector = 'expired') }}" class="button active posts">All expired posts</a>
            {% else %}
                <a href="{{ url_for('View:view_posted', selector = 'expired') }}" class="button posts">All expired posts</a>
            {% endif %}
        </li>
        {% if session['isAdmin'] %}
        <li>
            {% if '/external' in request.path %}
                <a href="{{ url_for('View:view_posted', selector = 'external') }}" class="button active posts">All external posts</a>
            {% else %}
                <a href="{{ url_for('View:view_posted', selector = 'external') }}" class="button posts">All external posts</a>
            {% endif %}
        </li>
        {% endif %}
    </ul></div>
{% if posts | length == 0 %}
<p class="noPosts">There are no posts to show.</p>
    {% else %}
    <div class="table">
        <div class="sorting">
            <div class="centered">
                <select class="selectSort">
                    <option id="titleAZ" value="sortByTitleAZ">Title (A-Z)</option>
                    <option id="titleZA" value="sortByTitleZA">Title (Z-A)</option>
                    <option id="descriptionAZ" value="sortByDescriptionAZ">Description (A-Z)</option>
                    <option id="descriptionZA" value="sortByDescriptionZA">Description (Z-A)</option>
                    <option id="priceAZ" value="sortByPrice">Price (High-Low)</option>
                    <option id="priceZA" value="reversePriceOrder">Price (Low-High)</option>
                    <option id="dateAZ" value="sortByDate" selected="selected">Date (Old-New)</option>
                    <option id="dateZA" value="reverseDateOrder">Date (New-Old)</option>
                    <option id="postedByAZ" value="sortByPostedByAZ">Author (A-Z)</option>
                    <option id="postedByZA" value="sortByPostedByZA">Author (Z-A)</option>
                </select>
            </div>
    </div>
    {% for post in posts %}
        <div id="singlePost-{{ loop.index }}" class="singlePost">
            <div class="row">
                <div class="cell">Title:</div>
                <div class="title cell"><a href="{{ url_for('View:view_post', post_id = post['id']) }}">{{ post['title'] }}</a></div>
            </div>
            <div class="row">
                <div class="cell">Description: </div>
                <div class="description cell"><article>{{ post['description'] }}</article></div>
            </div>
            <div class="row">
                <div class="cell">Price: </div>
                <div class="price cell">{{ post['price'] }}</div>
            </div>
            <div class="row">
                <div class="cell">Date Posted: </div>
                <div class="date cell">{{ post['date_added'].date() }}</div>
            </div>
            {% if post['completed'] == False %}
                {% if post['expired'] == True %}
                    <div class="row">
                        <div class="marked cell">
                            <a href="{{ url_for('View:renew', post_id = post['id']) }}">Renew this ad</a>
                        </div>
                    </div>
                {% else %}
                    <div class="row">
                        <div class="marked cell">
                            <a href="{{ url_for('View:mark_complete', post_id = post['id']) }}">Mark as complete</a>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        <hr/>
        </div>
    {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}