import os
_basedir = os.path.abspath(os.path.dirname(__file__))

##Foundation configs
FOUNDATION_USE_MINIFIED = False
FOUNDATION_USE_CDN = True

##emails
ADMINS = ['']

# sqlalchemy
SQLALCHEMY_DATABASE_URI = ''
SQLALCHEMY_MIGRATE_REPO = ''

secret_key = ''
SECRET_KEY = ''

ENVIRON = ''
TEST_USER = ''

SENTRY_URL = ''

CACHE_DEFAULT_TIMEOUT = 300