{% extends "classifieds_base.html" %}

{% block subpage_title %}
    | View your posts
{% endblock %}

{% block internal %}
<div>
    <p class="page-title">{{ app_settings['MY_POSTS'] }}</p>
    <p class="page-info my-postings">All of your {{ app_settings['POST_TYPE'] }} postings.</br>
        View all of your postings based on whether or not they are active, complete, or expired.</br>
        You can also mark postings as completed if they are not longer needed.</p>

    <div class="second-bar">
        <ul class="nav">
            <li class="nav-button">
                {% if '/all' in request.path %}
                    <a href="{{ url_for('View:view_posted', selector = 'all') }}" class="button active posts">All posts</a>
                {% else %}
                    <a href="{{ url_for('View:view_posted', selector = 'all') }}" class="button posts">All posts</a>
                {% endif %}
            </li>
            <li class="nav-button">
                {% if '/active' in request.path %}
                    <a href="{{ url_for('View:view_posted', selector = 'active') }}" class="button active posts">All active posts</a>
                {% else %}
                    <a href="{{ url_for('View:view_posted', selector = 'active') }}" class="button posts">All active posts</a>
                {% endif %}
            </li>
            <li class="nav-button">
                {% if '/completed' in request.path %}
                    <a href="{{ url_for('View:view_posted', selector = 'completed') }}" class="button active posts">All completed posts</a>
                {% else %}
                    <a href="{{ url_for('View:view_posted', selector = 'completed') }}" class="button posts">All completed posts</a>
                {% endif %}
            </li>
            <li class="nav-button">
                {% if '/expired' in request.path %}
                    <a href="{{ url_for('View:view_posted', selector = 'expired') }}" class="button active posts">All expired posts</a>
                {% else %}
                    <a href="{{ url_for('View:view_posted', selector = 'expired') }}" class="button posts">All expired posts</a>
                {% endif %}
            </li>
            {% if is_user_admin() %}
            <li class="nav-button">
                {% if '/external' in request.path %}
                    <a href="{{ url_for('View:view_posted', selector = 'external') }}" class="button active posts">All external posts</a>
                {% else %}
                    <a href="{{ url_for('View:view_posted', selector = 'external') }}" class="button posts">All external posts</a>
                {% endif %}
            </li>
            {% endif %}
        </ul>
    </div>
{% if posts | length == 0 %}
<p class="noPosts">There are no posts to show.</p>
    {% else %}
    <div class="table">
    {{ page_selector_macro(page_selector) }}
    {% for post in posts %}
        <div id="singlePost-{{ loop.index }}" class="singlePost">
            <div class="row">
                <div class="cell">Title:</div>
                <div class="title cell"><a href="{{ url_for('View:view_post', post_id = post['post_id']) }}">{{ post['title'] }}</a></div>
            </div>
            <div class="row">
                <div class="cell">Description: </div>
                <div class="description cell"><article>{{ post['description'] }}</article></div>
            </div>
            <div class="row">
                <div class="cell">Price: </div>
                <div class="price cell">{{ post['price'] }}</div>
            </div>
            <div class="row">
                <div class="cell">Date Posted: </div>
                <div class="date cell">{{ post['date_added'].date() }}</div>
            </div>
            {% if post['completed'] == False %}
                {% if post['expired'] == True %}
                    <div class="row">
                        <div class="marked cell">
                            <a href="{{ url_for('View:renew', post_id = post['post_id']) }}" class="button">Renew this ad</a>
                        </div>
                    </div>
                {% else %}
                    <div class="row">
                        <div class="marked cell">
                            <a href="{{ url_for('View:mark_complete', post_id = post['post_id']) }}" class="button">Mark as complete</a>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        <hr/>
        </div>
    {% endfor %}
    {{ page_selector_macro(page_selector) }}
    </div>
    {% endif %}
</div>
{% endblock %}