{% extends "classifieds_base.html" %}

{% block subpage_title %}
    | View your posts
{% endblock %}

{% block internal %}
<div>
    <p class="page-title">{{ app_settings['MY_POSTS'] }}</p>
    <p class="page-info my-postings">All of your {{ app_settings['POST_TYPE'] }} postings.<br/>
        View all of your postings based on whether or not they are active, complete, or expired.<br/>
        You can also mark postings as completed if they are not longer needed.</p>

    <div class="second-bar">
        <ul class="nav">
            <li class="nav-button">
                <a href="{{ url_for('View:view_posted', selector='all') }}" class="button posts {{ 'active' if '/all' in request.path }}">All posts</a>
            </li>
            <li class="nav-button">
                <a href="{{ url_for('View:view_posted', selector='active') }}" class="button posts {{ 'active' if '/active' in request.path }}">All active posts</a>
            </li>
            <li class="nav-button">
                <a href="{{ url_for('View:view_posted', selector='completed') }}" class="button posts {{ 'active' if '/completed' in request.path }}">All completed posts</a>
            </li>
            <li class="nav-button">
                <a href="{{ url_for('View:view_posted', selector='expired') }}" class="button posts {{ 'active' if '/expired' in request.path }}">All expired posts</a>
            </li>
            {% if is_user_admin() %}
            <li class="nav-button">
                <a href="{{ url_for('View:view_posted', selector='external') }}" class="button posts {{ 'active' if '/external' in request.path }}">All external posts</a>
            </li>
            {% endif %}
        </ul>
    </div>
    {% if posts | length == 0 %}
    <p class="noPosts">There are no posts to show.</p>
    {% else %}
        {% if '/external' in request.path %}
            <div>
                <form id="email_search" method="POST" action="{{ url_for('View:search_external_posts') }}">
                    <label for="external_user_name_or_email">Name or email of external contact to search for:</label>
                    <input id="external_user_name_or_email" name="external_user_name_or_email" type="text" placeholder="Leave empty to match all"/>
                    <input id="external_submit" type="submit" value="Search"/>
                </form>
            </div>
        {% endif %}
        <div class="table">
        {{ page_selector_macro(page_selector) }}
        {% for post in posts %}
            <div id="singlePost-{{ loop.index }}" class="singlePost">
                <div class="row">
                    <div class="cell">Title:</div>
                    <div class="title cell"><a href="{{ url_for('View:view_post', post_id = post['post_id']) }}">{{ post['title'] }}</a></div>
                </div>
                <div class="row">
                    <div class="cell">Description: </div>
                    <div class="description cell"><article>{{ post['description'] }}</article></div>
                </div>
                <div class="row">
                    <div class="cell">Price: </div>
                    <div class="price cell">{{ post['price'] }}</div>
                </div>
                <div class="row">
                    <div class="cell">Date Posted: </div>
                    <div class="date cell">{{ post['date_added'].date() }}</div>
                </div>
                <div class="row">
                    <div class="cell"></div>
                    <div class="cell">
                        {{ user_actions(post) }}
                    </div>
                </div>
            <hr/>
            </div>
        {% endfor %}
        {{ page_selector_macro(page_selector) }}
        </div>
    {% endif %}
</div>
{% endblock %}