{% extends "classifieds_base.html" %}

{% block subpage_title %}
    | FAQ
{% endblock %}

{% block internal %}
<div class="table">
    <h3>
        Buying
    </h3>
    <p>
        Looking for a book or other item? You can search for them using the Search function at the top page after
        signing in with your Bethel Account. Once you find the item you're looking for, clicking on it will bring you
        to a page with the seller's contact information (as well as a list of other items that he or she is selling).
        You can contact the seller by phone or email and arrange the details of the purchase. BSG also provides a
        convenient drop off spot for books in the Loft (BC400). If you choose to use the Loft as a drop off location,
        place a post-it note with the date of drop off, seller's name, and buyer's name and email. The Loft receptionist
        will then store your item until pick up and will email your recipient to notify them that the item is ready for
        pick up. Please note that the Loft will not handle any money. Exchanging money will have to be sorted out
        through POs or another means of exchange.
    </p>
    <h3>
        Selling
    </h3>
    <p>
        Before you list anything that you want to sell, be sure to update your contact information, as this information
        is used by potential buyers who want to contact you. You can then post your items on the Exchange. <b>Please
        remember to remove items you have sold so people will not try to contact you about an item that you no longer
        have.</b>
    </p>
    <h3>
        Old Items
    </h3>
    <p>
        BSG has implemented a policy that allows the Exchange to continue to run smoothly by removing items that are
        over 6 months old. When one of your books is placed on the expired list, you will receive an email.
    </p>
</div>
{% endblock %}