<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>5 Most Recent Classifieds</title>
    <style>
        table{
            width: 100%;
        }

        tbody td{
{% if showStatus == True %}
            width: 25%;
{% else %}
            width: 33%;
{% endif %}
            text-align: center;
            border: 1px solid #ccc;
        }
    </style>
</head>
<body>
<div>
    {% if values.__len__() == 0 %}
There are no active posts to show.
    {% else %}
<table>
    <thead>
        <tr>
            <th>Title</th>
            {#<th>Description</th>#}
            <th>Price</th>
            {#<th>Date Posted</th>#}
            <th>Posted By</th>
            {% if showStatus == True %}
            <th>Status</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
{% for val in values[0:5] %}
        <tr>
            <td><a href="https://classifieds.bethel.edu/view-classified/{{ val[0] }}" target="_blank">{{ val[1] }}</a></td>
            {#<td><h4>{{ val[2] }}</h4></td>#}
            <td>{{ val[3] }}</td>
            {#<td>{{ val[4].date() }}</td>#}
            <td>{{ val[6] }}</td>
            {% if showStatus == True %}
            <td>
                {% if val[7] == True %}
                Completed
                {% elif val[8] == True %}
                Expired
                {% else %}
                Active
                {% endif %}
            </td>
            {% endif %}
        </tr>
{% endfor %}
    </tbody>
</table>
    {% endif %}
</div>
<br/>
<div style="text-align:center">
    <a href="https://classifieds.bethel.edu/add-classified" target="_blank">New Listing</a> |
    <a href="https://classifieds.bethel.edu" target="_blank">View All</a>
</div>
</body>
</html>