{% extends "foundation_base.html" %}

{% block head_add %}
    <script src="../static/sorttable.js"></script>
    <style>
        table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
            content: " \25B4\25BE"
        }

        .top-right{
            position:absolute;
            top:10px;
            right: 10px;
        }
    </style>
    {% block head_scripts %}
    {% endblock %}
{% endblock %}

{% block body_content %}
    <br/>
    <div id="nav">
        &nbsp;&nbsp;&nbsp;<a href="/">Home</a> |
        <a href="/searchPage">Search through classifieds</a> |
        <a href="/addClassified">Submit a classified</a> |
        <a href="/viewPosted/active">View your posted classifieds</a>
    </div>
    <div id="contact_greeting" class="top-right">
        Hello, <a href="/viewContact/{{ session['username'] }}">{{ session['fullname'] }}</a>!
    </div>
    <br/>
    {% block internal %}
    {% endblock %}

{% endblock %}