{% extends "foundation_base.html" %}

{% block title %}
    {{ app_settings['PAGE_TITLE'] }}{% block subpage_title %}{% endblock %}
{% endblock %}


{% block head_add %}
    <script src="{{ url_for('static', filename = 'readmore.js') }}"></script>
{% endblock %}

{% block body_content %}
    <div id="body">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>
        <div class="padded">
            <a href="{{ url_for('View:index') }}">
                <img class="logo" src="{{ url_for('static', filename = app_settings['LOGO']) }}">
            </a>
            <div id="user_menu" class="top-right">
                <p class="welcome-box float-right">Hello, {{ session['fullname'] }}!</p>
                <button class="dropbtn float-right">
                    <img class="icon" src="{{ url_for('static', filename = 'drop-down-icon.png') }}">
                </button>
                <div id="generic_menu" class="dropdown-content">
                    <a href="{{ url_for('View:view_contact', username = session['username']) }}">View your profile</a>
                    <a href="{{ url_for('View:feedback') }}">Provide feedback</a>
                    <a href="{{ url_for('View:logout') }}">Sign out</a>
                </div>
            {% if is_user_admin() %}
                <button class="dropbtn float-right">
                    <img class="icon" src="{{ url_for('static', filename = 'drop-down-icon.png') }}">
                </button>
                <div id="admin_menu" class="dropdown-content">
                    <a href="{{ url_for('View:manage_privileges') }}">Manage user privilege levels</a>
                    <a href="{{ url_for('View:manage_categories') }}">Manage existing categories</a>
                    <a href="{{ url_for('View:add_new_category') }}">Add a new category</a>
                    <a href="{{ url_for('View:add_external_contact') }}">Add a non-BCA contact</a>
                    <a href="{{ url_for('View:add_external_post') }}">Submit a non-BCA user's post</a>
                </div>
            {% endif %}
            </div>
            <div class="menu-bar">
                <ul>
                    <li>
                        {% if request.path == '/' %}
                            <a href="{{ url_for('View:index') }}" class="button active">Home</a>
                        {% else %}
                            <a href="{{ url_for('View:index') }}" class="button">Home</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if url_for('View:search_page') in request.path %}
                            <a href="{{ url_for('View:search_page') }}" class="button active">Search</a>
                        {% else %}
                            <a href="{{ url_for('View:search_page') }}" class="button">Search</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if url_for('View:add_post') in request.path %}
                            <a href="{{ url_for('View:add_post') }}" class="button active">Submit</a>
                        {% else %}
                            <a href="{{ url_for('View:add_post') }}" class="button">Submit</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if '/view-posted/' in request.path %}
                            <a href="{{ url_for('View:view_posted', selector = 'active') }}" class="button active">
                                {{ app_settings['MY_POSTS'] }}
                            </a>
                        {% else %}
                            <a href="{{ url_for('View:view_posted', selector = 'active') }}" class="button">
                                {{ app_settings['MY_POSTS'] }}
                            </a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
        {% block internal %}
        {% endblock %}
        <script>
            $('article').readmore({
                moreLink: '<a href="#">Read more...</a>',
                lessLink: '<a href="#">Read less</a>',
                collapsedHeight: 36,
                afterToggle: function (trigger, element, expanded) {
                    if (!expanded) { // The "Close" link was clicked
                        $('html, body').animate({scrollTop: element.offset().top}, {duration: 100});
                    }
                }
            });
        </script>
        {# links sorting JS file to HTML (only way this file would work) #}
        <script src="{{ url_for('static', filename = 'sorting.js') }}"></script>
        <div class="clear_footer"></div>
    </div>

    <div class="footer">
        <p id="foot_title">Bethel University est. 1871 | {{ app_settings['PAGE_TITLE'] }}</p>
    </div>

{% endblock %}