{% extends "foundation_base.html" %}

{% block head_add %}
    <script src="../static/sorttable.js"></script>
    <link rel="stylesheet" href="../static/styles.css"/>
{% endblock %}

{% block body_content %}
    <div id="nav" class="padded">
        <a href="/">Home</a> |
        <a href="/searchPage">Search through classifieds</a> |
        <a href="/addClassified">Submit a classified</a> |
        <a href="/viewPosted/active">View your posted classifieds</a>
    </div>
    <div id="contact_greeting" class="top-right padded">
        Hello, <a href="/viewContact/{{ session['username'] }}">{{ session['fullname'] }}</a>!
    </div>
    {% block internal %}
    {% endblock %}

{% endblock %}