{% extends "classifieds_base.html" %}

{% block subpage_title %}
| Submit a new classified ad
{% endblock %}

{% block internal %}
<div>
    <p class="page-title">Submit a Posting</p>
    {% if external_submission %}
    <p class="page-info">Submit someone else's Classified Posting.</br>
        {% else %}
    <p class="page-info">Submit your own Classified Posting.</br>
        {% endif %}
        Please be as descriptive as possible to help viewers find and understand the posting.</br>
        All postings will expire in 180 days.</p>

    {% if form.errors %}
    <span class="error">There were errors with the form submission.</span>
    {% endif %}

    <p class="note">
        {# <span class="warning"> Classified postings will expire in 180 days</span></br>#}
        <span class="star">* </span><span class="warning"> All fields are required</span>
    </p>

    <form id="classified" method="POST" action="/submit-ad">
        {% if external_submission %}
        <label for="submitters_username">Email of external poster:</label><input type="text" id="submitters_username"
                                                                                 name="submitters_username"/>
        {% else %}
        <input type="hidden" name="submitters_username" value="{{ session['username'] }}"/>
        {% endif %}

        {% for field in form %}
        <div id="field_container">
            <div id="label">
            {% if field.type != "SubmitField" %}
                {{ field.label }}
            {% endif %}
            </div>
            <div id="errors">
            {% if field.errors | length > 0 %}
                <span class="star">
                {% for err in field.errors %}
                    {{ err }}<br/>
                {% endfor %}
                </span>
                {% endif %}
            </div>
            <div id="field">
                {{ field }}
            </div>
        </div>
        {% endfor %}
    </form>
</div>
{% endblock %}