{% extends "classifieds-base.html" %}

{% block internal %}
<div>
    {% if form.errors %}
        <span style="color:red">There were errors with your form submission.</span>
    {% endif %}
<form id="classifieds" method="POST" action="/submitAd">
    <table>
{% for field in form if field.widget.input_type != 'hidden' %}
    <tr>
    {% if field.type != "SubmitField" %}
        <td>{{ field.label }}
        {% if field.flags.required %}
            <span style="color:red">*</span>

        {% endif %}
        {% for error in form.errors[field.name] %}
            {{ error }}
        {% endfor %}
        </td>

    {% endif %}

    <td>
    {% if field.type == "SelectMultipleField" %}
        {{ field(style="height:auto;", class="largeselect") }}

    {% elif field.type == "SelectField" %}
        {{ field() }}

    {% elif field.type == "TextAreaField" %}
        {{ field(style="height:auto;") }}

    {% else %}
        {{ field(size=20) }}

    {% endif %}
    </td></tr>
{% endfor %}
    </table>
</form>
</div>
{% endblock %}