{% extends "classifieds-base.html" %}

{% block internal %}
<div>
    <form id="classifieds" method="POST" action="/submitContact">
    <table>
{% for field in form if field.widget.input_type != 'hidden' %}
    <tr>
    {% if field.type != "SubmitField" %}
        <td>{{ field.label }}
        {% if field.flags.required %}
            <span style="color:red">*</span>
        {% endif %}
        </td>
    {% else %}
        <td></td>
    {% endif %}

        <td>
            {% if info.__len__() > 0 %}
                {% if loop.index0 == info.__len__() %}
                    {{ field(size=20, value="Update") }}
                {% else %}
                    {{ field(size=20, value=info[loop.index0]) }}
                {% endif %}
            {% else %}
                {{ field(size=20) }}
            {% endif %}
        </td>
    </tr>
{% endfor %}
    </table>
    </form>
</div>
{% endblock %}