{% extends "classifieds-base.html" %}

{% block internal %}
<p>Note: any information put in here will be publicly viewable by anyone else using this website. This is done so
    that if someone wants to contact you about an ad you post, they can view your info here.</p>
<div class="center">
    <form id="classifieds" method="POST" action="/submitContact">
    <table>
{% for field in form if field.widget.input_type != 'hidden' %}
    <tr>
    {% if field.type != "SubmitField" %}
        <td>{{ field.label }}
        {% if field.flags.required %}
            <span style="color:red">*</span>
        {% endif %}
        </td>
    {% else %}
        <td></td>
    {% endif %}
        <td>
            {% if info.__len__() > 0 %}
                {% if loop.index0 == info.__len__() - 1 %}
                    {{ field(size=20, value="Update") }}
                {% else %}
                    {{ field(size=20, value=info[loop.index0 + 1]) }}
                {% endif %}
            {% else %}
                {{ field(size=20) }}
            {% endif %}
        </td>
    </tr>
{% endfor %}
    </table>
    </form>
</div>
{% endblock %}