{% extends "classifieds_base.html" %}

{% block subpage_title %}
    | Search through classifieds
{% endblock %}

{% block internal %}
<div>
    <p class="page-title">Search Postings</p>
    <p class="page-info search">Search through the Classified Postings by Title,
        Description, and/or Category of the posting.</p>

    <form id="classifieds" action="/search" method="post">
        <label for="title">Title contains:</label><input type="text" name="title" id="title">
        <label for="description">Description contains:</label><input type="text" name="description" id="description">
        <label for="categories">In any of these categories:</label>
        <select name="categories" id="categories" class="largeselect" style="height:auto;" name="categories" multiple="">
            {% for category_pair in categories %}
            <option value="{{ category_pair['category_html'] }}">{{ category_pair['category_human'] }}</option>
            {% endfor %}
        </select><br>
        <input type="submit" value="Search"/>
    </form>
</div>

{% endblock %}