<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% if result[0] > 0 %}
            Success
        {% else %}
            Failure
        {% endif %}
    </title>
</head>
<body>
{% if result[0] > 0 %}
    Successfully submitted!
    <br/>
    <a href="/">Return to homepage</a>
{% else %}
    Not successfully submitted. Errors:<br/>
    <br/>
    {% for field_name in result[1] %}
        {{ field_name }}:
            <ul>
            {% for err in result[1][field_name] %}
                <li>{{ err }}</li>
            {% endfor %}
            </ul><br/>
    {% endfor %}
    <a href="javascript:history.back()">Go back to your submission</a>
{% endif %}
</body>
</html>