{% extends "classifieds-base.html" %}

{% block internal %}
&nbsp;&nbsp;&nbsp;<a href="/viewPosted/all">All your posts</a> | <a href="/viewPosted/active">All active posts</a> | <a href="/viewPosted/completed">All completed posts</a> | <a href="/viewPosted/expired">All expired posts</a>
<br/><br/>

<table>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Price</th>
        <th>Date Posted</th>
        <th>More Info</th>
    </tr>
{% for post in posts %}
    <tr>
        <td>{{ post[1] }}</td>
        <td>{{ post[2] }}</td>
        <td>{{ post[3] }}</td>
        <td>{{ post[4].date() }}</td>
        <td><a href="/viewClassified/{{ post[0] }}">View more...</a></td>
        <td>
        {% if post[6] == False %}
            {% if post[7] == False %}
                <a href="/reactivate/{{ post[0] }}">Renew this ad</a>
            {% else %}
                <a href="/markComplete/{{ post[0] }}">Mark as complete</a>
            {% endif %}
        {% endif %}
        </td>
    </tr>
{% endfor %}
</table>

{% endblock %}