{% extends "classifieds-base.html" %}

{% block internal %}
{% if classified['completed'] == false %}
<table>
    <tr>
        <td>Title:</td><td>{{ classified['title'] }}</td>
    </tr>
    <tr>
        <td>Description:</td><td>{{ classified['description'] }}</td>
    </tr>
    <tr>
        <td>Price:</td><td>{{ classified['price'] }}</td>
    </tr>
    <tr>
        <td>Categories:</td>
        <td>
            {% for cat in classified['categories'].split(";") %}
                {% for word in cat.split("-") %}
                    {{ word.capitalize() }}
                    {% if cat.split("-").index(word) < cat.split("-").__len__() - 1 %}
                        /
                    {% endif %}
                {% endfor %}<br/>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <td>Listed by:</td><td><a href="/viewContact/{{ classified['username'] }}">{{ classified['username'] }}</a></td>
    </tr>
    <tr>
        <td>Date listed:</td><td>{{ classified['dateAdded'].date() }}</td>
    </tr>
    <tr>
        <td>Active for:</td><td>{% for word in classified['duration'].split("-") %}{{ word.capitalize() }}&nbsp;{% endfor %}</td>
    </tr>
</table>
<button>Edit info</button>
{% else %}
<div>This classified is no longer active.</div>
{% endif %}

{% endblock %}