{% extends "classifieds-base.html" %}

{% block subpage_title %}
    | View your posts
{% endblock %}

{% block internal %}
<div>
    <div class="second-bar"><ul>
        <li>
            {% if '/all' in request.path %}
                <a href="/view-posted/all" class="button active posts">All your posts</a>
            {% else %}
                <a href="/view-posted/all" class="button posts">All your posts</a>
            {% endif %}
        </li>
        <li>
            {% if '/active' in request.path %}
                <a href="/view-posted/active" class="button active posts">All active posts</a>
            {% else %}
                <a href="/view-posted/active" class="button posts">All active posts</a>
            {% endif %}
        <li>
        <li>
            {% if '/completed' in request.path %}
                <a href="/view-posted/completed" class="button active posts">All completed posts</a>
            {% else %}
                <a href="/view-posted/completed" class="button posts">All completed posts</a>
            {% endif %}
        </li>
        <li>
            {% if '/expired' in request.path %}
                <a href="/view-posted/expired" class="button active posts">All expired posts</a>
            {% else %}
                <a href="/view-posted/expired" class="button posts">All expired posts</a>
            {% endif %}
        </li>
    </ul></div>
{% if posts.__len__() == 0 %}
<p class="noPosts">There are no active posts to show.</p>
    {% else %}
    <div class="table">
        <div class="sorting">
            <div class="centered">
                <select class="selectSort">
                    <option>Sort Classifieds:</option>
                    <option id="titleAZ" value="sortByTitleAZ">Title (A-Z)</option>
                    <option id="titleZA" value="sortByTitleZA">Title (Z-A)</option>
                    <option id="descriptionAZ" value="sortByDescriptionAZ">Description (A-Z)</option>
                    <option id="descriptionZA" value="sortByDescriptionZA">Description (Z-A)</option>
                    <option id="priceAZ" value="sortByPrice">Price (High-Low)</option>
                    <option id="priceZA" value="reversePriceOrder">Price (Low-High)</option>
                    <option id="dateAZ" value="sortByDate">Date (Old-New)</option>
                    <option id="dateZA" value="reverseDateOrder">Date (New-Old)</option>
                    <option id="postedByAZ" value="sortByPostedByAZ">Author (A-Z)</option>
                    <option id="postedByZA" value="sortByPostedByZA">Author (Z-A)</option>
                </select>
            </div>
    </div>
    {% for post in posts %}
        <div id="singlePost-{{ loop.index }}" class="singlePost">
            <div class="row">
                <div class="cell">Title:</div>
                <div class="title cell"><a href="/view-classified/{{ post[0] }}">{{ post[1] }}</a></div>
            </div>
            <div class="row">
                <div class="cell">Description: </div>
                <div class="description cell"><article>{{ post[2] }}</article></div>
            </div>
            <div class="row">
                <div class="cell">Price: </div>
                <div class="price cell">{{ post[3] }}</div>
            </div>
            <div class="row">
                <div class="cell">Date Posted: </div>
                <div class="date cell">{{ post[4].date() }}</div>
            </div>
            {% if post[6] == False %}
                {% if post[7] == True %}
                    <div class="row">
                        <div class="marked cell">
                            <a href="/reactivate/{{ post[0] }}">Renew this ad</a>
                        </div>
                    </div>
                {% else %}
                    <div class="row">
                        <div class="marked cell">
                            <a href="/mark-complete/{{ post[0] }}">Mark as complete</a>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        <hr/>
        </div>
    {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}