{% extends "classifieds_base.html" %}

{% block subpage_title %}
    | View classified
{% endblock %}

{% block internal %}
{% if session['username'] == classified[5] %}
    <div class="viewTable">
        <table>
            <tr>
                <td>Title:</td><td class="maxWordLength">{{ classified[1] }}</td>
            </tr>
            <tr>
                <td class="classified_description">Description:</td><td class="maxWordLength">{{ classified[2] }}</td>
            </tr>
            <tr>
                <td>Price:</td><td class="maxWordLength">{{ classified[3] }}</td>
            </tr>
            <tr>
                <td>Categories:</td>
                <td>
                    {% for cat in classified[4].split(";") %}
                        {% for word in cat.split("-") %}
                            {{ word.capitalize() }}
                            {% if cat.split("-").index(word) < cat.split("-").__len__() - 1 %}
                                /
                            {% endif %}
                        {% endfor %}<br/>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>Listed by:</td><td class="maxWordLength"><a href="{{ url_for('View:view_contact', username = classified[5]) }}">{{ classified[6] }}</a></td>
            </tr>
            <tr>
                <td>Date listed:</td><td>{{ classified[7].date() }}</td>
            </tr>
        </table>
        {% if classified[8] == False %}
            {% if classified[9] == False %}
                <a href="{{ url_for('View:mark_complete', id = classified[0]) }}">Mark as complete</a>
            {% else %}
                <a href="{{ url_for('View:reactivate', id = classified[0]) }}">Renew this ad</a>
            {% endif %}
        {% endif %}
    </div>
{% else %}
    {% if classified[8] == False %}
        {% if classified[9] == False %}
            <div class="viewTable">
                <table>
                    <tr>
                        <td>Title:</td><td class="maxWordLength">{{ classified[1] }}</td>
                    </tr>
                    <tr>
                        <td class="classified_description">Description:</td><td class="maxWordLength">{{ classified[2] }}</td>
                    </tr>
                    <tr>
                        <td>Price:</td><td class="maxWordLength">{{ classified[3] }}</td>
                    </tr>
                    <tr>
                        <td>Categories:</td>
                        <td>
                            {% for cat in classified[4].split(";") %}
                                {% for word in cat.split("-") %}
                                    {{ word.capitalize() }}
                                    {% if cat.split("-").index(word) < cat.split("-").__len__() - 1 %}
                                        /
                                    {% endif %}
                                {% endfor %}<br/>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>Listed by:</td><td class="maxWordLength"><a href="{{ url_for('View:view_contact', username = classified[5]) }}">{{ classified[6] }}</a></td>
                    </tr>
                    <tr>
                        <td>Date listed:</td><td>{{ classified[7].date() }}</td>
                    </tr>
                </table>
            </div>
        {% else %}
            <div>This classified has expired; it hasn't been completed in over 180 days</div>
        {% endif %}
    {% else %}
        <div>This classified has been marked as completed.</div>
    {% endif %}
{% endif %}
{% endblock %}