{% extends "classifieds_base.html" %}

{% block subpage_title %}
    | Delete confirm
{% endblock %}

{% block internal %}
    <div>
        <p class="note">Are you sure you want to delete {{ app_settings['POST_TYPE'] }} post "{{ post['title'] }}"?</p>
    </div>
    <div>
        <p class="note">
            <a class="button button-danger" href="{{ url_for('View:delete_post', post_id=post['post_id']) }}">Delete</a>
            <a class="button" href="{{ url_for('View:index') }}">Cancel</a>
        </p>
    </div>
{% endblock %}