{% extends "classifieds_base.html" %}

{% block subpage_title %}
    | Manage categories
{% endblock %}

{% block internal %}
<div class="table">
    <table>
        <thead>
            <tr>
                <th>HTML Version</th>
                <th>Human-readable Version</th>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
    {% for category in categories %}
            <tr>
                <td data-th="HTML Version">
                    {{ category['category_html'] }}
                </td>
                <td data-th="Human-readable Version">
                    {{ category['category_human'] }}
                </td>
                <td data-th="Edit">
                    <a href="{{ url_for('View:edit_category', category_id = category['category_id']) }}" class="button">Edit</a>
                </td>
                <td data-th="Delete">
                    <a href="{{ url_for('View:delete_category_confirm', category_id = category['category_id']) }}" class="button">Delete</a>
                </td>
            </tr>
    {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
