{% extends "classifieds_base.html" %}

{% block subpage_title %}
    | Edit users' permissions
{% endblock %}

{% block internal %}
<div>
    <div class="errors"></div>

    <form>
        <table>
            <thead>
                <tr>
                    <td>Username</td>
                    <td>First name</td>
                    <td>Last name</td>
                    <td>Remove Admin?</td>
                </tr>
            </thead>
            <tbody>
        {% for admin in admins %}
            {% if admin['username'] != session['username'] %}
                <tr>
                    <td> {{ admin['username'] }} </td>
                    <td> {{ admin['first_name'] }} </td>
                    <td> {{ admin['last_name'] }} </td>
                    <td><input class="admins" type="checkbox" name="admin{{ loop.index }}" value="{{ admin['username'] }}"/></td>
                </tr>
            {% endif %}
        {% endfor %}
            </tbody>
        </table>
        <input id="demote_group" class="promote-demote" type="button" value="Remove admin privileges for checked users"/>
    </form>

    <form>
        <label for="promote_by_username"><h4>Promote a user by username:</h4></label>
        <input type="text" name="promotee" id="promote_by_username" required=""/>
        <input id="promote_single" class="promote-demote" type="button" value="Promote this single user"/>
    </form>

    <form>
        <table>
            <thead>
                <tr>
                    <td>Username</td>
                    <td>First name</td>
                    <td>Last name</td>
                    <td>Make Admin?</td>
                </tr>
            </thead>
            <tbody>
        {% for non_admin in non_admins %}
                <tr>
                    <td> {{ non_admin['username'] }} </td>
                    <td> {{ non_admin['first_name'] }} </td>
                    <td> {{ non_admin['last_name'] }} </td>
                    <td><input class="nonAdmins" type="checkbox" name="nonAdmin{{ loop.index }}" value="{{ non_admin['username'] }}"/></td>
                </tr>
        {% endfor %}
            </tbody>
        </table>
        <input id="promote_group" class="promote-demote" type="button" value="Make the checked users admins for {{ app_settings['PAGE_TITLE'] }}"/>
    </form>
</div>
<script>
    $("#demote_group").click(function() {
        let users = [];
        $.each($("input[class='admins']:checked"), function(){
            users.push($(this).val());
        });
       $.ajax({
           type: "POST",
           url: "{{ url_for("View:group_demote") }}",
           data: JSON.stringify({
                'demotees': users
            }),
           contentType: 'application/json;charset=UTF-8',
           success: function (data) {
                window.location.reload();
            },
            error: function (error) {
               $(".errors").html("You do not have permission to demote users");
            }
        });
    });

    $("#promote_single").click(function () {
        $.ajax({
            type: "POST",
            url: "{{ url_for("View:single_promote") }}",
            data: JSON.stringify({
                'promotee': $("#promote_by_username").val()
            }),
            contentType: 'application/json;charset=UTF-8',
            success: function(response) {
                window.location.reload();
            },
            error: function (error) {
               $(".errors").html("You do not have permission to promote a user");
            }
        });
    });

    $("#promote_group").click(function () {
        let users = [];
        $.each($("input[class='nonAdmins']:checked"), function(){
            users.push($(this).val());
        });
        alert(users);
       $.ajax({
           type: "POST",
           url: "{{ url_for("View:group_promote") }}",
           data: JSON.stringify({
                'promotees': users
           }),
           contentType: 'application/json;charset=UTF-8',
           success: function(response) {
               window.location.reload();
           },
           error: function (error) {
               $(".errors").html("You do not have permission to promote users");
            }
       })
    });
</script>
{% endblock %}
