table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
    content: " \25B4\25BE";
}

/* Home page table */
table.sortable {
    font-family: Georgia, serif;
    margin: 20px 50px 50px 50px;
    border: none;
}

th.title {
    font-family: inherit;
    width: 5%;
}

th.description {
    width: 35%;
}

th.price {
    width: 5%;
}

th.date {
    width: 5%;
}

th.postedBy {
    width: 5%;
}

th.status {
    width: 5%;
}

/* Search page form */
form#classifieds {
    margin: 20px 50px 50px 0px;
    /*position: absolute;*/
}

form#search {
    margin: 20px 50px 50px 50px;
}

form#feedbackForm {
    margin: 20px 50px 50px 50px;
}

label {
    font-family: Georgia, serif;
}

option {
    font-family: Georgia, serif;
}

input[type=submit] {
    font-family: Gotham A, Gotham B, Helvetica, Arial, sans !important;
    color: #FFFFFF !important;
    background-color: #0069AA;
    border: none;
    padding: 10px 15px 10px 15px;
    letter-spacing: 0.75px;
    font-size: 15px !important;
}

form:first-child {
    width: 50% !important;
}

/* Submit page form and contact form/edit contact */
table.submit {
    border: none;
}

table {
    margin-top: 20px;
    margin-left: 41px;
    /*border: none !important;*/
}

a#edit-profile{
    margin-left: 50px;
    font-size: 15px;
}

/* Viewing posts */

span.posts {
    width: 30%;
    float: left;
    padding: 0px 15px 15px 0px;
    margin-left: 50px;
    margin-top: 20px;
    margin-right: 50px;
    font-family: Georgia, serif;
}

/* classifieds banner/header */
h1.baseTitle {
    color: #FFFFFF;
    font-family: Gotham A, Gotham B, Helvetica, Arial, sans;
}

.padded {
    padding: 15px 50px 15px 50px;
    margin: 0px 0px 0px 0px;
    background-color: #0F2C52;
}

/*.center {*/
    /*position: relative;*/
    /*width: 30%;*/
    /*left: 35%;*/
    /*right: 35%;*/
/*}*/

a {
    color: #0069AA !important;
    font-family: Gotham A, Gotham B, Helvetica, Arial, sans !important;
}

a:hover {
    color: #005285 !important;
}

a.button {
    margin-right: 2px;
    /*border-radius: 5px;*/
    background-color: #0069AA;
    color: #FFFFFF !important;
}

a.button:hover {
    background-color: #005285;
}

a.button.active {
    border: #FFC600 solid 2px;
}

.error{
    color: red;
}

.dropbtn {
    background-color: #0069AA !important;
    margin: 0px 0px 0px;
    border: none;
    cursor: pointer;
}

.top-right {
    float: right;
    margin: 20px 50px 0px 0px;
    display: inline-block;
}

.dropbtn:hover {
    background-color: #005285 !important;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    width: 197px;
    background-color: white;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    padding: 12px 16px;
    color: #0069AA;
    text-decoration: none;
    display: block;
}

.top-right:hover .dropdown-content {
    display: block;
}

.show {
    display: block;
}

/* footer */

.footer {
    position: relative;
    background-color: #0F2C52;
    height: 50px;
}

#foot_title {
    font-family: Gotham A, Gotham B, Helvetica, Arial, sans;
    text-align: center;
    color: #f1f1f2;
    padding-top: 14px;
    font-size: 14px;
    letter-spacing: 0.25px;
}

.clear_footer {
    height: 10px;
    clear: both;
}

#body {
    min-height: 100%;
    margin-bottom: -50px;
    position: relative;
}
