/* Home page table */
div.table {
    /*overflow: auto;*/
    font-family: Georgia, serif;
    border: none;
    padding: 1.5em 2em 1em 1em;
    margin: 0em 2em 4em 2em;
}

div.singlePost {
    margin-bottom: 1em;
    /*border: .05em solid black;*/
    /*border-radius: .2em;*/
}

div.title {
    width: 50%;
    padding: .1em;
    background-color: #2ca8ff;
}

div.titleItem {
    width: 50%;
    padding: .1em;
    background-color: #0F2C52;
}

div.description {
    padding: .1em;
    border: .05em;
}

div.price {
    padding: .1em;
    border: .05em;
}

div.date {
    padding: .1em;
    border: .05em;
}

div.postedBy {
    padding: .1em;
    border: .05em;
}

div.status {
    padding: .1em;
    border: .05em;
}

article {
    line-height: 120%;
    /*padding-top: .1em;*/
}

body {
    background-color: white;
    width: 100%;
}

h1.baseTitle {
    padding: 0em 3em 0em 0em;
    text-align: left;
    color: #FFFFFF;
}

a {
    color: #0069AA !important;
    font-family: Gotham A, Gotham B, Helvetica, Arial, sans !important;
}

a:hover {
    color: #005285 !important;
}

a.button {
    margin-right: .1em;
    /*border-radius: 5px;*/
    background-color: #0069AA;
    color: #FFFFFF !important;
}

a.button:hover {
    background-color: #005285;
}

a.button.active {
    border: #FFC600 solid 2px;
}

.error{
    color: red;
}

.dropbtn {
    background-color: #0069AA !important;
    margin: 0em 0em 0em;
    border: none;
    cursor: pointer;
}

.top-right {
    /*float: right;*/
    margin: 0em 3em 0em 0em;
    display: inline-block;
}

.dropbtn:hover {
    background-color: #005285 !important;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    width: 12em;
    background-color: white;
    overflow: auto;
    box-shadow: 0em .5em 1em 0em rgba(0,0,0,0.2);
}

.dropdown-content a {
    padding: .75em 1em;
    color: #0069AA;
    text-decoration: none;
    display: block;
}

.top-right:hover .dropdown-content {
    display: block;
}

.show {
    display: block;
}

/* footer */

.footer {
    position: relative;
    background-color: #0F2C52;
    height: 4em;
}

#foot_title {
    font-family: Gotham A, Gotham B, Helvetica, Arial, sans;
    text-align: center;
    color: #f1f1f2;
    padding-top: 1.4em;
    font-size: .9em;
    letter-spacing: 0.25px;
}

.clear_footer {
    height: .625em;
    clear: both;
}

#body {
    min-height: 100%;
    margin-bottom: -4em;
    position: relative;
}

.padded {
    padding: 1em 3em 1em 3em;
    margin: 0em;
    width: 100%;
    background-color: #0F2C52;
}

/* Search page form */
form#search {
    margin: 20px 50px 50px 50px;
    padding: .75em;
}

/* submit a classified page */
form#classifieds {
    margin: 20px 50px 50px 50px;
    padding: .75em;
    /*position: absolute;*/
}


/* If webpage size becomes larger than 60em*/
@media (min-width: 60em) {

}


input[type=submit] {
    font-family: Gotham A, Gotham B, Helvetica, Arial, sans !important;
    color: #FFFFFF !important;
    background-color: #0069AA;
    border: none;
    padding: 10px 15px 10px 15px;
    letter-spacing: 0.75px;
    font-size: 15px !important;
}
