/* Home page table */
div.table {
    font-family: Georgia, serif;
    border: none;
    padding: 1.5em 2em 1em 1em;
    margin: 0em 2em 4em 2em;
    margin: 0em 0em 4em 2em;
}

div.singlePost {
    margin-bottom: 1em;
    display: table;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
    padding: .5em 1em .5em .5em;
    margin-right: .5em;
    max-width: 38.5em;

}

article {
    line-height: 120%;
}

.line-separator {
    height: .0625em;
    background-color: #000000;
    margin: 1em 1em 1em 0em;
}

body {
    background-color: white;
}

#body {
    min-height: 100%;
    margin-bottom: -4em;
    position: relative;
}


h1.baseTitle {
    margin-bottom: .5em;
    text-align: left;
    color: #FFFFFF;
    font-family: Gotham A, Gotham B, Helvetica, Arial, sans;
}

div.centered {
    text-align: left;
}

p {
    font-family: Georgia, serif;
}

p.note {
    margin: 1em 3em 0em 3em;
}

p.noPosts {
    margin: 1em 3em 1em 3em;
    padding-bottom: 5em;
}

a {
    color: #0069AA !important;
    font-family: Gotham A, Gotham B, Helvetica, Arial, sans !important;
}

a:hover {
    color: #005285 !important;
}

a.button {
    margin-right: .125em;
    background-color: #0069AA;
    color: #FFFFFF !important;
}

a.button:hover {
    background-color: #0069AA;
}

a.button.active {
    border: #FFC600 solid .125em;
}

.error{
    color: red;
}

.dropbtn {
    background-color: #0069AA !important;
    margin: 0em 0em 0em 0em;
    border: none;
    cursor: pointer;
}

.top-right {
    margin: 1em 3em 1em 0em;
    display: inline-block;

}

.dropbtn:hover {
    background-color: #0069AA !important;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    width: 12.3em;
    background-color: white;
    overflow: auto;
    box-shadow: 0em .5em 1em 0em rgba(0,0,0,0.2);
}

.dropdown-content a {
    padding: .75em 1em;
    color: #0069AA;
    text-decoration: none;
    display: block;
}

.top-right:hover .dropdown-content {
    display: block;
}

.show {
    display: block;
}

.padded {
    padding: 1em 3em 1em 3em;
    margin: 0em;
    background-color: #0F2C52;
}

/* submit a classified page */
form#classifieds {
    margin: 1em 3em 3em 2.38em;
    padding: .75em;
}

input[type=submit] {
    font-family: Gotham A, Gotham B, Helvetica, Arial, sans !important;
    color: #FFFFFF !important;
    background-color: #0069AA;
    border: none;
    padding: .625em 1em .625em 1em;
    letter-spacing: 0.75px;
    font-size: 1em !important;
    margin-bottom: 1.25em;

}



input {
    max-width: 100%;
}

input#fname {
    max-width: 60%;
}

input#lname {
    max-width: 60%;
}

input#email {
    max-width: 60%;
}

input#phone {
    max-width: 60%;
}

textarea {
    max-width: 100%;
}

select {
    max-width: 100%;
}

<<<<<<< Updated upstream


=======
>>>>>>> Stashed changes
/* footer */

.footer {
    position: relative;
    background-color: #0F2C52;
    height: 4em;
}

#foot_title {
    font-family: Gotham A, Gotham B, Helvetica, Arial, sans;
    text-align: center;
    color: #f1f1f2;
    padding-top: 1.4em;
    font-size: .9em;
    letter-spacing: 0.25px;
}

.clear_footer {
    height: .625em;
    clear: both;
}

/* If webpage size becomes larger than 60em*/
@media (min-width: 48em) {

    a:hover {
        color: #005285;
    }

    a.button {

    }

    a.button:hover {
        background-color: #005285;
    }

    .dropbtn:hover {
        background-color: #005285 !important;
    }

    input {
        max-width: 50%;
    }

    textarea {
        max-width: 50%;
    }

    select {
        max-width: 50%;
    }

    p.note {
        max-width: 50%;
    }

}
