table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
    content: " \25B4\25BE";
}

/* Home page table */
table.sortable {
    margin: 20px 50px 50px 50px;
    border: none;
}

th.title {
    width: 5%;
}

th.description {
    width: 35%;
}

th.price {
    width: 5%;
}

th.date {
    width: 5%;
}

th.postedBy {
    width: 5%;
}

th.status {
    width: 5%;
}

/* Search page form */
form {
    margin: 20px 50px 50px 50px !important;
}

input {
    font-family: sans-serif !important;
}

input[type=submit] {
    color: #FFFFFF !important;
    background-color: #0069AA;
    border: none;
    padding: 10px 15px 10px 15px;
    letter-spacing: 0.75px;
    font-size: 15px !important;
}

form:first-child {
    width: 50% !important;
}

/* Submit page form */
table.submit {
    border: none;
}

/* classifieds banner/header */
h1.baseTitle {
    color: #FFFFFF;
    font-family: Gotham Book, sans-serif;
}

.padded {
    padding: 15px 50px 15px 50px;
    margin: 0px 0px 0px 0px;
    background-color: #0F2C52;
}

.center {
    position: relative;
    width: 30%;
    left: 35%;
    right: 35%;
}

a {
    color: #0069AA !important;
    font-family: Gotham Book, sans-serif !important;
}

a:hover {
    color: #005285 !important;
}

a.button {
    margin-right: 2px;
    /*border-radius: 5px;*/
    background-color: #0069AA;
    color: #FFFFFF !important;
}

a.button:hover {
    background-color: #005285;
}

a.button.active {
    border: #FFC600 solid 2px;
}

.error{
    color: red;
}

.dropbtn {
    background-color: #0069AA !important;
    margin: 0px 0px 0px;
    border: none;
    cursor: pointer;
    /*border-radius: 5px;*/
}

.top-right {
    float: right;
    margin: 20px 50px 0px 0px;
    display: inline-block;
}

.dropbtn:hover {
    background-color: #005285 !important;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    width: 197px;
    background-color: white;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    padding: 12px 16px;
    color: #0069AA;
    text-decoration: none;
    display: block;
}

.top-right:hover .dropdown-content {
    display: block;
}

.show {
    display:block;
}

.footer{
    position: relative;
    background-color: #0F2C52;
    height: 50px;

}

#foot_title{
    text-align: center;
    color: white;
    padding-top: 14px;
    font-size: 10px;
}

.clear_footer{
    height: 10px;
    clear: both;
}

#body{
    min-height: 100%;
    margin-bottom: -50px;
    position: relative;
}
