/* Home page table */
div.table {
    font-family: Georgia, serif;
    border: none;
    padding: 1.5em 1em 1em 1em;
    margin: 0em 2em 4em 2em;
    /*font-size: .9em;*/
}

div.viewTable{
    font-family: Georgia, serif;
    border: none;
    padding: 1.5em 1em 1em 1.4em;
    margin: 0em 2em 4em 2em;
}

hr {
    height: .0625em;
    background-color: #000000;

}

div.singlePost {
    margin-bottom: 1em;
    /*display: table;*/
    font-size: .9em;
}

.row {
    display: table-row;
}

.cell {
    font-size: .95em;
    display: table-cell;
    padding: .5em 1em .5em .5em;
    margin-right: .5em;
    max-width: 38.5em;
}

article {
    line-height: 120%;
}

.marked{
    max-width: 2em;
}

body {
    background-color: #FFFFFF;
}

#body {
    min-height: 100%;
    margin-bottom: -4em;
    position: relative;
}

div.centered {
    text-align: center;
}

span.warning {
    font-style: italic;
    font-size: .8em;
}

form {
    margin: 1em 3em 3em 2.5em;
    padding: .75em;
}

p {
    font-family: Georgia, serif;
    font-size: .9em;
}

/*p.baseTitle {*/
    /*margin-bottom: .5em;*/
    /*text-align: left;*/
    /*color: #FFFFFF;*/
    /*font-family: Gotham A, Gotham B, Helvetica, Arial, sans;*/
/*}*/

p.note {
    margin: 1em 3em -1.4em 3.4em;
}

p.noPosts {
    margin: 1em 3em 1em 3.4em;
    padding-bottom: 5em;
}

a {
    font-size: .95em;
    color: #0069AA !important;
    font-family: Gotham A, Gotham B, Helvetica, Arial, sans !important;
}

a:hover {
    color: #005285 !important;
}

a.button {
    font-size: .78em;
    /*box-shadow: 0em .5em 1em 0em rgba(0,0,0,0.2);*/
    /*margin-right: .125em;*/
    /*margin-left: .25em;*/
    background-color: #0F2C52;
    color: #FFFFFF !important;
}

.button {
    float: left;
    font-size: .78em;
    border-radius: .25em;
    /*margin-top: 1em;*/
    /*margin-bottom: 0em;*/
    /*box-shadow: 0em .5em 1em 0em rgba(0,0,0,0.2);*/
    /*margin-left: .25em;*/
    background-color: #0F2C52 !important;
    color: #FFFFFF !important;
}

.button:hover {
    background-color: #0069AA !important;
    /*background-color: #005285 !important;*/
}

a.button.active {
    background-color: #0069AA !important;
    /*border: #FFC600 solid .125em;*/
}

img.logo {
    float: left;
    width: 15.5em;
    height: 3.5em;
    margin: 0em 1em 0em 1em;
}

ul {
    list-style-type: none;
    margin: 0em;
    padding: 0em;
    overflow: hidden;
}

li {
    float: left;
}

select {
    max-width: 100%;
}

select.selectSort {
    margin-left: .45em;
    width: 30%;
    min-width: 15em;
}

.error{
    color: red;
}

#user_menu {
    float: right;
    margin: .1em 1em .1em 1em;
}

/*.dropbtn {*/
    /*font-size: .9em;*/
    /*background-color: #0F2C52 !important;*/
    /*margin: 0em;*/
    /*border: none;*/
    /*cursor: pointer;*/
    /*width: 13.9em;*/
/*}*/

.dropbtn{
    font-size: .9em;
    border-radius: .25em;
    background-color: #0069AA;
    color: #FFFFFF;
    cursor: pointer;
    width: 12.5em;
    border: none;
    margin: 0em 0em .25em 0em;
}

.top-right {
    font-size: .9em;
    /*margin: 1em 0em 1em 0em;*/
    display: inline-block;
    /*box-shadow: 0em .5em 1em 0em rgba(0,0,0,0.2);*/

}

/*.dropbtn:hover {*/
    /*background-color: #0069AA !important;*/
/*}*/

.dropdown-content {
    margin-top: -.2em;
    text-align: left;
    display: none;
    position: absolute;
    z-index: 1;
    width: 11.3em;
    background-color: white;
    overflow: auto;
    box-shadow: 0em .5em 1em 0em rgba(0,0,0,0.2);
}

.dropdown-content a {
    padding: .75em 1em 1em 2.5em;
    color: #0069AA;
    text-decoration: none;
    display: block;
}

.top-right:hover .dropdown-content {
    display: block;
}

.show {
    display: block;
}

.view-padded {
    text-align: center;
    /*padding: .5em 3em 1em 3em;*/
    /*margin: 0em;*/
    background-color: #0F2C52;
}

.padded {
    text-align: right;
    padding: .9em 0em 0em 0em;
    margin: 0em;
    background-color: #0F2C52 !important;
}

/* submit a classified page */

span.star {
    font-family: Georgia, serif;
    font-size: .85em;
    color: red;
}

input[type=submit] {
    font-size: .9em;
    font-family: Gotham A, Gotham B, Helvetica, Arial, sans !important;
    color: #FFFFFF !important;
    background-color: #0069AA;
    border: none;
    padding: .625em 1em .625em 1em;
    letter-spacing: 0.75px;
    margin-bottom: 1.25em;

}

input {
    max-width: 100%;
}

input#fname {
    max-width: 60%;
}

input#lname {
    max-width: 60%;
}

input#email {
    max-width: 60%;
}

input#phone {
    max-width: 60%;
}

textarea {
    max-width: 100%;
}

textarea#input {
    margin: -2em 0em 1.25em 0em;
}

/* footer */

.footer {
    position: relative;
    background-color: #0F2C52;
    height: 4em;
}

#foot_title {
    font-family: Gotham A, Gotham B, Helvetica, Arial, sans;
    text-align: center;
    color: #f1f1f2;
    padding-top: 1.4em;
    font-size: .9em;
    letter-spacing: 0.25px;
}

.clear_footer {
    height: .625em;
    clear: both;
}

.classified_description{
    vertical-align: text-top;
}

.maxWordLength{
    max-width: 35em;
}


/* If webpage size becomes larger than 60em*/
@media (min-width: 48em) {

    a:hover {
        color: #005285;
    }

    .cell {
        font-size: 1em;
    }

    p.baseTitle {
        text-align: left;
    }

    /* Not sure if we want this one or not, specifically for iPad*/
    .top-right {
        /*margin: .3em 0em 1em .2em;*/
    }

    .view-padded {
        text-align: left;
        /*padding: 0em 3em 1em 3em;*/
        /*margin-top: -.5em;*/
    }

    .padded {
        text-align: left;
        padding: .9em 0em 0em 0em;
    }

    div.centered {
        text-align: left;
    }

    p {
        font-size: .92em;
    }

    a {
        font-size: .92em;
    }

    a.button {
        font-size: .92em;
    }

    .button {
        font-size: .92em;
    }

    a.button:hover {
        background-color: #005285;
    }

    .dropbtn {
        font-size: .9em;
        width: 12.5em;
        margin: 0em 0em 0.25em 0em;
    }

    .top-right {
        font-size: .92em;
    }

    .dropbtn:hover {
        background-color: #0069AA !important;
        /*background-color: #005285 !important;*/
    }

    .dropdown-content {
        text-align: left;
        width: 11.25em;
    }

    input {
        max-width: 50%;
    }

    textarea {
        max-width: 50%;
    }

    select {
        max-width: 50%;
    }

    p.note {
        max-width: 50%;
    }

}

@media (min-width: 72em) {
    #nav {
        text-align: right;
    }
    .top-right {
        /*float: right;*/
        /*margin: .3em 0em 0em 0em;*/
    }
}
