<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>5 Most Recent {{ app_settings['PAGE_TITLE'] }}</title>
    <style>
        table{
            width: 100%;
        }

        tbody td{
{% if showStatus == True %}
            width: 25%;
{% else %}
            width: 33%;
{% endif %}
            text-align: center;
            border: 1px solid #ccc;
        }
    </style>
</head>
<body>
<div>
    {% if values|length == 0 %}
There are no active posts to show.
    {% else %}
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Posted By</th>
            {% if showStatus == True %}
            <th>Status</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
{% for val in values[0:5] %}
        <tr>
            <td><a href="{{ url_for('View:view_post', post_id=val['post_id']) }}" target="_blank">{{ val['title'] }}</a></td>
            <td>{{ val['price'] }}</td>
            <td>{{ val['full_name'] }}</td>
            {% if showStatus == True %}
            <td>
                {% if val['completed'] == True %}
                Completed
                {% elif val['expired'] == True %}
                Expired
                {% else %}
                Active
                {% endif %}
            </td>
            {% endif %}
        </tr>
{% endfor %}
    </tbody>
</table>
    {% endif %}
</div>
<br/>
<div style="text-align:center">
    <a href="{{ url_for('View:add_post') }}" target="_blank">New Listing</a> |
    <a href="{{ url_for('View:index') }}" target="_blank">View All</a>
</div>
</body>
</html>