{% extends "foundation_base.html" %}

{% block title %}
    {{ app_settings['PAGE_TITLE'] }}{% block subpage_title %}{% endblock %}
{% endblock %}


{% block head_add %}
    <script src="{{ url_for('static', filename = 'readmore.js') }}"></script>
{% include 'favicon.html' %}
{% endblock %}

{% block body_content %}
    <div id="body">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>
        <div class="padded">
            <a href="{{ url_for('View:index') }}">
                <img class="logo" src="{{ url_for('static', filename = app_settings['LOGO']) }}">
            </a>
            <div id="user_menu" class="top-right">
                <button class="dropbtn">
                    <img class="icon" src="{{ url_for('static', filename = 'drop-down-icon.png') }}">
                    Hello, {{ session['fullname'] }}!
                </button>
                <div id="generic_menu" class="dropdown-content">
                    <a href="{{ url_for('View:view_contact', username = session['username']) }}">View your profile</a>
                    <a href="{{ url_for('View:feedback') }}">Provide feedback</a>
                    <a href="{{ url_for('logout') }}">Sign out</a>
                </div>
            </div>
            <div class="menu-bar">
                <ul class="nav">
                    {% if is_user_admin() %}
                        <li class="nav-button">
                            <div id="admin_menu" class="admin">
                                <button class="dropbtn-admin">
                                    <img class="icon" src="{{ url_for('static', filename = 'drop-down-icon.png') }}">
                                    Administrator Functions
                                </button>
                                <div class="dropdown-content dropdown-content-admin">
                                    <a href="{{ url_for('View:manage_privileges') }}">Manage user privilege levels</a>
                                    <a href="{{ url_for('View:manage_categories') }}">Manage existing categories</a>
                                    <a href="{{ url_for('View:add_new_category') }}">Add a new category</a>
                                    <a href="{{ url_for('View:add_external_contact') }}">Add a non-BCA contact</a>
                                    <a href="{{ url_for('View:add_external_post') }}">Submit a non-BCA contact's post</a>
                                </div>
                            </div>
                        </li>
                    {% endif %}
                    <li class="nav-button">
                        <a href="{{ url_for('View:index') }}" class="button {{ 'active' if '/' == request.path }}">Home</a>
                    </li>
                    <li class="nav-button">
                        <a href="{{ url_for('View:search_page') }}" class="button {{ 'active' if url_for('View:search_page') in request.path }}">Search</a>
                    </li>
                    <li class="nav-button">
                        <a href="{{ url_for('View:add_post') }}" class="button {{ 'active' if url_for('View:add_post') in request.path }}">Submit</a>
                    </li>
                    <li class="nav-button">
                        <a href="{{ url_for('View:view_posted', selector='active') }}" class="button {{ 'active' if '/view-posted/' in request.path }}">
                            {{ app_settings['MY_POSTS'] }}
                        </a>
                    </li>
                    <li class="nav-button">
                        <a href="{{ url_for('View:faq') }}" class="button {{ 'active' if '/faq' in request.path }}">FAQ</a>
                    </li>
                </ul>
            </div>
        </div>
        {% block internal %}
        {% endblock %}
        <script>
            $('article').readmore('article', {
                moreLink: '<a href="#">Read more...</a>',
                lessLink: '<a href="#">Read less</a>',
                collapsedHeight: 36
            });
        </script>
        <div class="clear_footer"></div>
    </div>
    <div class="footer">
        <p id="foot_title">Bethel University est. 1871 | {{ app_settings['PAGE_TITLE'] }}</p>
    </div>

{% endblock %}

{% macro page_selector_macro(page_selector_dict) -%}
    {% set sort_type = page_selector_dict['sort_type'] %}
    {% if sort_type != "" %}
        {% set sort_type_string = "&sort=" + sort_type %}
    {% else %}
        {% set sort_type_string = "" %}
    {% endif %}
    <div class="full-width">
        <div class="page_selector">
            <a class="page_button prev_arrow" href="?page=1{{ sort_type_string }}">&lt;&lt;</a>
            <a class="page_button prev_arrow" href="?page={{ page_selector_dict['previous'] }}{{ sort_type_string }}">&lt;</a>
            {% for page_no in page_selector_dict['all_page_numbers'] %}
                <a class="page_button {{ 'active_page' if page_no == page_selector_dict['current'] else 'page_num' }}" href="?page={{ page_no }}{{ sort_type_string }}">{{ page_no }}</a>
            {% endfor %}
            <a class="page_button next_arrow" href="?page={{ page_selector_dict['next'] }}{{ sort_type_string }}">&gt;</a>
            <a class="page_button next_arrow" href="?page={{ page_selector_dict['last'] }}{{ sort_type_string }}">&gt;&gt;</a>
        </div>
    </div>
{%- endmacro %}

{% macro sort_type_selector(current_sort_type) -%}
    {% if current_sort_type == "" %}
        {% set current_sort_type = "reverseDateOrder" %}
    {% endif %}
    <div class="sorting">
        <div class="centered">
            <select class="selectSort">
                {% for tuple in list_of_sort_types %}
                    <option id="{{ tuple[0] }}" value="{{ tuple[1] }}" {{ 'selected="selected"' if tuple[1] == current_sort_type }}>{{ tuple[2] }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
{%- endmacro %}

{% macro user_actions(post) -%}
    {% if is_user_admin() %}
        {% if '@' in post['username'] %}
            <a class="button" href="{{ url_for('View:edit_external_post', post_id = post['post_id']) }}">Edit</a>
        {% else %}
            <a class="button" href="{{ url_for('View:edit_post', post_id = post['post_id']) }}">Edit</a>
        {% endif %}
        <a class="button" href="{{ url_for('View:delete_post_confirm', post_id = post['post_id']) }}">Delete</a>
    {% elif session['username'] == post['username'] %}
        <a class="button" href="{{ url_for('View:edit_post', post_id = post['post_id']) }}">Edit</a>
    {% endif %}

    <!-- (If the user is admin or if they are the one who made the post) AND (if the post is NOT expired/complete) we show this -->
    {% if (is_user_admin() or session['username'] == post['username']) and (post['expired'] == False and post['completed'] == False) %}
        <a href="{{ url_for('View:mark_complete', post_id = post['post_id']) }}" class="button">Mark as complete</a>
        <!-- Otherwise we want the renew button to show -->
    {% else %}
        <a href="{{ url_for('View:renew', post_id = post['post_id']) }}" class="button">Relist this ad</a>
    {% endif %}
{%- endmacro %}