{% extends "classifieds_base.html" %}

{% block subpage_title %}
    | Search through classifieds
{% endblock %}

{% block internal %}
<div>
    <p class="page-title">Search {{ app_settings['PAGE_TITLE'] }}</p>
    <p class="page-info search">Search through the {{ app_settings['PAGE_TITLE'] }} by Title,
        Description, and/or Category of the posting.</p>

    <form id="classifieds">
        <label for="title">Title contains:</label>
        <input type="text" name="title" id="title" placeholder="Leave empty to match all"/>
        <label for="description">Description contains:</label>
        <input type="text" name="description" id="description" placeholder="Leave empty to match all"/>
        <label for="categories">In any of these categories:</label>
        <select name="categories" id="categories" class="largeselect" style="height:auto;" multiple="">
            {% for category_pair in categories %}
            <option value="{{ category_pair['category_html'] }}">{{ category_pair['category_human'] }}</option>
            {% endfor %}
        </select>
    </form>
    <button onclick="get_result_page(1)" class="button" style="margin-left: 3.25em">Search</button>
    <hr/>
    <div id="results" class="table">

    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    function get_result_page(page_number){
        var sort_type;
        if(document.getElementById("sortSelector") === null){
            sort_type = "reverseDateOrder";
        }
        else{
            sort_type = $('#sortSelector').val();
        }
        var kwargs = {
            'title': $('#title').val(),
            'description': $('#description').val(),
            'categories': $('#categories').val(),
            'page_number': page_number,
            'sort_type' : sort_type
        };
        $.post("/search", kwargs, update_result_div);
    }

    function update_result_div(new_inner_content){
        document.getElementById('results').innerHTML = new_inner_content;
    }
</script>
{% endblock %}